/* Estilos Gerais */
body {
    background-color: #000; /* Preto Super Amoled */
    color: #ff0000; /* Vermelho Ultra Gótico */
    font-family: 'IM Fell English SC', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 0.85em; /* Fonte menor */
}

h1 {
    margin-bottom: 20px;
    color: #ff0000;
    font-size: 2em;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 0.85em; /* Fonte menor */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

/* Estilos Específicos da Tela de Login */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 400px; /* Maior largura */
    padding: 30px;
    border: 2px solid #ff0000;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px #ff0000;
    text-align: center;
}

#login-message {
    margin-top: 10px;
    color: #ff0000;
}

/* Estilos Específicos da Tela Principal */
.container {
    width: 500px; /* Maior largura */
    padding: 30px;
    border: 2px solid #ff0000;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px #ff0000;
    text-align: center;
}

#result {
    margin-top: 20px;
    color: #ff0000;
}
