/* Adicionando estilos para o header e footer */
header, footer {
    background-color: #330000; /* Vermelho ultra-escuro */
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #ff3333; /* Vermelho claro */
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

/* Estilos adicionais para URLs encurtadas */
#user-urls {
    margin-top: 20px;
}

#user-urls div {
    padding: 10px;
    background-color: #450000; /* Vermelho forte */
    border-radius: 4px;
    margin-bottom: 10px;
}
